/**
 * Main styles for: minnpost-transit-stops
 */

// Variables
$space: 1em;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-transit-stops-container {

  .application-container {
    padding-top: 1em;
  }

  .row {
    margin-bottom: 5em;
  }

  .map {
    height: 30em;
  }

  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
